################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ATOMService/dcu/Unit1.dcu
ATOMService/__history/Unit1.pas.~1~
ATOMService/__history/ATOMScannerService.dpr.~1~
